@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --cor1: #fff;
    --cor2: #a4c2c4;
    --cor3: #467e82;
    --cor4: #09474b;
    --cor5: #000;
    
    --fonte-padrao2: 'Poppins', sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 50px;
    width: 100%;
    padding: 20px 60px;
    flex-wrap: wrap;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

nav .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
}

nav li{
    margin-left: 7px;
}

nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
    margin: 20px;
}

nav li a:hover{
    background-color: white;
    color: black;
}

.banner{
    height: 100vh;
    background: linear-gradient( rgba(0,0,0,0.281), rgba(0,0,0,0.308)),url('10.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.texto .titulo{
    font-family: var(--fonte-padrao2);
    color: #73a4a8;
    font-size: 160px;
    font-weight: 300;
    text-align: center;
}

.texto .sub_titulo{
    color: #a4c2c4;
    font-size: 58px;
    font-weight: 400;
    font-family: var(--fonte-padrao2);
    width: 100%;
    text-align: center;
}


.menu-icon{
    display: none;
    color: #a4c2c4;
    cursor: pointer;
}

.menu-mobile{
    background-color: #09474b;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    transition: 0.4s;
}

.menu-mobile .icon-close{
    position: absolute;
    top: 40px;
    right: 40px;
    color: wheat;
    cursor: pointer;
    font-size: 30px;
}

.menu-mobile.ativo{
    left: 0;
}

/*responsivo*/

@media (max-width: 800px) {
    .menu-desktop{
        display: none;
    }
    .menu-icon{
        display: block;
        font-size: 30px;
    }
    .menu-mobile li{
        margin: 20px 0;
    }
    .menu-mobile li a {
        font-size: 20px;
    }
    .texto .titulo{
        font-size: 60px;
    }
    .texto  .sub_titulo{
        color: #fff;
        font-size: 30px;
        font-weight: 400;
    }
}


/*Footer*/

footer{
    background-color: var(--cor4);
    width: 100%;
    color: var(--cor2);
    padding: 0.1em;
}

.footer__socialmidia{
    padding: 10px;
    text-align: center;  
}

.footer__socialmidia a{
    text-align: center;
    justify-content: center;
    margin: 20px;
    padding: 1em;
    width: 50px;
    font-size: 15px;
    transition: 0.5s;
    border-radius: 10px;
}


.footer__socialmidia a:hover{
    background-color: #467e82;
    font-size: 1px;
}

.footer__texto-h2{
    text-align: center;
    justify-content: center;
    margin: 0.5em 0 0.5em 0;
    height: 100%;
    font-size: 23px;
    font-family: var(--fonte-padrao1);
    font-weight: 500;
    
}

.footer__texto{
    text-align: center;
    justify-content: center;
    padding-bottom: 0;
    margin-bottom: 0;
    height: 100%;
    font-size: 15px;
    font-family: var(--fonte-padrao2);
    padding-bottom: 10px;
}

.footer__copyright{
    text-align: center;
    justify-content: center;
    font-size: 15px;
    margin-bottom: 10px;

}